.password_forgot{
    float: left;
    margin-left: 43px;
    color:#90caf9;
}
.remember_me{
    text-align: left;
    padding-left: 40px;
    font-size: 22px;
}
.link{
    color:#90caf9;
    text-decoration: none;
}
.link:hover{
    color: white;
    border-bottom: solid white;
}